/* -------------- MAIN STYLES----------------------- */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  line-height: 24px;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

/* .section {
  padding: 120px 0;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

p {
  padding-left: 0;
}

h3 {
  padding-left: 0;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------END MAIN STYLES----------------------- */

/* -----------------------HEADER STYLES ---------------------- */

.page-header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.burger-button {
  padding: 0;
  display: block;
  margin: 16px 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nav-menu {
  display: none;
}

.address {
  display: none;
  font-style: normal;
}

.logospan {
  color: #2e2f42;
}

.logotypetab {
  display: none;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

@media (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .ul-address {
    gap: 40px;
  }

  .address {
    display: flex;
  }

  .nav-menu {
    display: flex;
    gap: 40px;
  }

  .nav-li {
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    color: #404bbf;
    position: relative;
  }

  .current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .logotype {
    display: none;
  }

  .logotypetab {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
}

@media (min-width: 1158px) {
  .container {
    padding: 0 15px;
  }

  .logotypetab {
    display: none;
  }

  .logotype {
    display: flex;
    margin-right: 76px;
  }

  .ul-address {
    display: flex;
  }

  .nav-li:hover,
  .nav-li:focus {
    color: #404bbf;
  }
}
/* ------------------------END HEADER STYLES-------------------- */

/* --------------------FIRST SECTION STYLES------------------------------ */

.section-title {
  position: relative;
  background-color: #2e2f42;
  text-align: center;
  padding: 72px 0;
  max-width: 1440px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  margin: auto;
}

.btn {
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #4d5ae5;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 2px 4px #2e2f42;
  display: block;
  min-width: 169px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  max-width: 216px;
  color: white;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: auto;
  margin-bottom: 72px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

@media (min-width: 768px) {
  .title {
    line-height: 1.07;
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .section-title {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-title {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet@2x.jpg);
    }
  }
}

@media (min-width: 1158px) {
  .btn:hover,
  .btn:focus {
    background-color: #404bbf;
  }

  .title {
    margin-bottom: 48px;
  }

  .section-title {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-title {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desktop@2x.jpg);
    }
  }
}

/* -------------------- END FIRST SECTION STYLES------------------------------ */

/* ----------------------SECOND SECTION STYLES------------------------------ */

.features-section {
  padding: 96px 0;
}

.features-section .container {
  max-width: 320px;
}

.ul-features {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.features-li {
  flex-basis: calc((100% - 216px) / 4);
  min-width: 288px;
}

.icon {
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.icon svg {
  display: none;
}

.third-h {
  font-weight: 500;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}

.paragraph {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

@media (min-width: 768px) {
  .ul-features {
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .features-li {
    flex-basis: calc((100% - 72px) / 4);
    min-width: 356px;
  }

  .third-h {
    text-align: start;
  }

  .features-section .container {
    max-width: 768px;
  }
}

@media (min-width: 1158px) {
  .ul-features {
    gap: 24px;
    justify-content: flex-start;
  }

  .features-li {
    flex-basis: calc((100% - 72px) / 4);
    min-width: 264px;
  }

  .third-h {
    font-size: 20px;
  }

  .features-section .container {
    max-width: 1158px;
  }

  .features-section {
    padding: 120px 0;
  }

  .icon,
  .icon svg {
    display: flex;
  }

  .paragraph {
    font-weight: 400;
  }
}

/* ---------------------- END SECOND SECTION STYLES------------------------------ */

/* ----------------------THIRD SECTION STYLES --------------------------------- */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.teamlist {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((1128px - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.ul-team {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team .container {
  max-width: 320px;
}

.second-h {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-container {
  padding: 32px 0;
}

.third-h-team {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.paragraph-team {
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  padding: 0 16px;
  gap: 24px;
  justify-content: center;
}

.bc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bc-icon-svg {
  fill: #f4f4fd;
}

@media (min-width: 768px) {
  .team .container {
    max-width: 768px;
  }
  .ul-team {
    gap: 24px;
  }
}

@media (min-width: 1158px) {
  .bc-icon:hover,
  .bc-icon:focus {
    background-color: #404bbf;
  }

  .team .container {
    min-width: 1158px;
  }

  .team {
    padding: 120px 0;
  }
}

/* ---------------------- END THIRD SECTION STYLES -------------------------------*/

/* ----------------------  FOURTH SECTION STYLES -------------------------------*/

.section-portfolio .container {
  max-width: 320px;
}

.section-portfolio {
  padding: 96px 0;
}

.third-h-portfolio {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.paragraph-portfolio {
  letter-spacing: 0.02em;
}

.card-container-p {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.ul-portfolio {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}

.portfolio {
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  margin: 0;
  letter-spacing: 0.02em;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .section-portfolio .container {
    max-width: 768px;
  }

  .portfolio {
    flex-basis: calc((100% - 24px) / 2);
  }

  .ul-portfolio {
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }

  .section-portfolio .container {
    max-width: 1158px;
  }

  .portfolio:hover .overlay {
    transform: translateY(0);
  }
  .portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio {
    flex-basis: calc((100% - 48px) / 3);
  }

  .ul-portfolio {
    row-gap: 48px;
  }
}

/* ---------------------- END FOURTH SECTION STYLES -------------------------------*/

/* ---------------------------------FOOTER STYLES------------------------------ */

.logospan-footer {
  color: #f4f4fd;
}

.btn-form {
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #4d5ae5;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0 2px 4px #2e2f42;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  justify-content: center;
  margin: auto;
  max-width: 165px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-footer {
  border-radius: 4px;
  min-width: 264px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  max-height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* opacity: 0.3; */ /*пасхалка для ментора, незахотів я задавати opacity формі як в макеті фігмі, тому що записувати електронну пошту кольором з 70% прозорістю це жах для користувача */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  outline: none;
}

.form-input-footer::placeholder {
  /* color: #fff; */
  color: rgba(
    255,
    255,
    255,
    0.3
  ); /*пасхалка для ментора, замість цього змінив прозрачності кольорів */
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paragraph-footer {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.paragraph-footer-social {
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}

.social-media .social-icons {
  padding: 0;
  gap: 16px;
}

.bc-footer-icon-svg {
  fill: #f4f4fd;
  margin-left: 16px;
}

.bc-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2e2f42;
  color: white;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 320px;
  row-gap: 72px;
}

.footer-content-a {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .container {
    max-width: 584px;
    gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
  }

  .paragraph-footer-social {
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-content-a {
    text-align: start;
  }
}

@media (min-width: 1158px) {
  .footer {
    padding: 120px 0;
  }
  .footer .container {
    max-width: 1158px;
  }
  .footer-content {
    margin-right: 120px;
  }

  .social-media {
    margin-right: auto;
  }

  .bc-icon-footer:hover,
  .bc-icon-footer:focus {
    background-color: #31d0aa;
  }
  .btn-form:hover,
  .btn-form:focus {
    background-color: #404bbf;
  }
}

/* ---------------------------------END FOOTER STYLES------------------------------ */

/* ---------------------------------MODAL WINDOW STYLES------------------------------ */

.btn-form-modal:hover,
.btn-form-modal:focus {
  background-color: #404bbf;
}

.contacts {
  color: #434455;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.modal-overlay {
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 16px;
  max-width: 288px;
  min-height: 623px;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-modal {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
  max-width: 256px;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.label-input {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: #2e2f42;
  min-height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 256px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form-modal {
  display: block;
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #4d5ae5;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-input-text {
  display: block;
  min-height: 120px;
  resize: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 12px;
  /* color: rgba(46, 47, 66, 0.4); пасхалка для ментора, в 5 завданні автоперевірці дуже погане обов'язкове правило задання спільного напівпрозорого кольору, таким кольором шрифта писати комент погано */
  color: #2e2f42;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4); /* окреме задання кольору бордера краще */
  width: 256px;
  line-height: 1.17;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:focus::placeholder {
  opacity: 0;
}

.modal-input:focus-within {
  border-color: #4d5ae5;
}

.modal-input-text:focus-within {
  border-color: #4d5ae5;
}

.modal-input:focus-within + .modal-us-icon {
  fill: #4d5ae5;
}

.modal-us-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-divv-modal {
  position: relative;
}

.modal-link {
  color: #4d5ae5;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-p-modal {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.empty-check {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  vertical-align: sub;
  margin-right: 8px;
  fill: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .text-p-modal > .check-empty {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-empty {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  vertical-align: sub;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-checkbox:focus + .text-p-modal > .check-empty {
  border-color: #4d5ae5;
}

@media (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px;
    max-width: 408px;
    min-height: 584px;
  }

  .modal-input {
    width: 360px;
  }
  .modal-input-text {
    width: 360px;
  }

  .p-modal {
    max-width: 360px;
  }
}

/* --------------------------------- END MODAL WINDOW STYLES------------------------------ */

/* -------------------------------BURGER STYLES------------------------------------ */
.burger-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.burger-menu {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 72px 16px 40px 16px;
}

.burger-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.burger-nav-li {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;

  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-current {
  color: #404bbf;
}
.burger-address {
  margin-bottom: 48px;
}
.burger-ul-address {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.burger-contacts {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.burger-contacts.lighter {
  color: #404bbf;
}

.burger-social-icons {
  display: flex;
  gap: 40px;
}
/* -------------------------------END BURGER STYLES------------------------------------ */
